<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Mensagem</h4>
    </modal-header>
    <modal-body>
      <form role="form">
      <flash-messages></flash-messages>
        <div class="form-group">
          <label for="assunto">Origem</label>
            <input [(ngModel)]="origem"  readonly type="text" class="form-control"
            id="origem" placeholder="Origem" name="origem"/>
        </div>
        <div class="form-group">
          <label for="assunto">Assunto</label>
            <input [(ngModel)]="assunto" type="text" readonly class="form-control"
            id="assunto" placeholder="Assunto da mensagem" name="assunto"/>
        </div>
        <div class="form-group">
          <label for="assunto">Mensagem</label>
            <textarea [(ngModel)]="mensagem" readonly rows="5" class="form-control"
            id="mensagem" placeholder="Digite sua mensagem" name="mensagem"> </textarea>
        </div>
        <div class="form-group">
          <label for="assunto">Resposta</label>
            <textarea [(ngModel)]="resposta"  rows="5" class="form-control"
            id="resposta" placeholder="Digite sua resposta" name="resposta"> </textarea>
        </div>
      </form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <button class="btn btn-success" (click)="responder()">Resonder</button>
    </modal-footer>
</modal>
