<br><br>
<div class="container">
	<div class="row">
		<app-perfil></app-perfil>
		<div class="col-md-9">
			<legend>Mensagens</legend>
			<flash-messages></flash-messages>
			
			<button class="btn btn-default" (click)="open()"><i class="fa fa-plus-square"> </i> Nova Mensagem</button>
			
		    <table class="table condensed">
		    	<thead>
		    		<tr>
			    		<th>Remetente</th>
			    		<th>Assunto</th>
			    		<th>Data</th>
			    		<th>Opções</th>
			    	</tr>
		    	</thead>
		    	<tbody id="tbl-body">
		    		<tr *ngFor="let m of msgCounter.msgs" >
		    			<td [class.teste]="m.status">{{m.origem}}</td>
		    			<td [class.teste]="m.status">{{m.assunto}}</td>
		    			<td [class.teste]="m.status">{{m.data}}</td>
		    			<td [class.teste]="m.status">
		    				<button class="btn btn-info" [attr.data-value]="m._id" (click)="ler(m._id)" ><i class="fa fa-file-text-o" aria-hidden="true" > </i> Ler</button>
		    				<button [attr.data-value]="m._id" class="btn btn-danger apagar-msg" (click)="remover(m._id)" ><i class="fa fa-trash" aria-hidden="true"> </i> Apagar</button>
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
		</div>
	</div>
</div>
<app-modal-lrm></app-modal-lrm>
<app-modal-mensagem></app-modal-mensagem>
<app-rodape></app-rodape>