
		
<br><br>
<div class="container">
	<div class="row">
		<app-perfil></app-perfil>
		<div class="col-md-9">
			<legend>Encontre tudo o que precisa</legend>
			<table datatable [dtOptions]="dtOptions" class="table table-bordered compact cards no-footer">
		    	<thead style="display: none">
		    		<tr>
		    			<th></th>
			    		<th>Item</th>
			    		<th>Tipo</th>
			    		<th>Categoria</th>
			    		<th>Unidade</th>
			    		<th>Valor</th>
			    		<th>Opções</th>
			    	</tr>
		    	</thead>
		    	<tbody id="tbl-body">
		    		<tr *ngFor="let i of itens.itens">
		    			<td><img src="{{i.imagem}}" /> </td>
		    			<td><strong>Nome: </strong>{{i.titulo}}</td>
		    			<td><strong>Tipo: </strong>{{i.tipo_s}}</td>
		    			<td><strong>Categoria: </strong>{{i.categoria}}</td>
		    			<td><strong>Unidade: </strong>{{i.unidade_s}}</td>
		    			<td><strong>Valor: </strong>{{i.valor_s}}</td>
		    			<td style="text-align: center">
		    				<button class="btn btn-primary"  (click)="abrir(i._id)"><i class="fa fa-info-circle" aria-hidden="true" > </i> Informações</button>
		    				
		    			</td>
		    		</tr>
		    	</tbody>
		    </table>
		    <br><br>
		</div>
	</div>
</div>
<app-modal-item-evento></app-modal-item-evento>
<app-rodape></app-rodape>