<br><br>
<div class="container">
	<div class="row">
		<app-perfil></app-perfil>
		<div class="col-md-9">
				<legend>Como utilizar</legend>
		    <p class="text-justify">
		      Na aba pesquisar itens encontre tudo o que precisa para seu evento. Selecione os itens desejados e adicione a lista de eventos, assim que estiver satisfeito com suas escolhas envie para verificar a disponibilidade dos itens através do menu Meus Eventos ou entre em contato diretamente com os fornecedores.
		    </p>
		    <br>
		</div>
	</div>
</div>

<app-rodape></app-rodape>