<br><br>
<div class="container">
	<div class="row">
		<app-perfil></app-perfil>
		<div class="col-md-9">
				<legend>Notícias / Como utilizar</legend>
		    <p class="text-justify">
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
		      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
		      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
		      officia deserunt mollit anim id est laborum.
		    </p>
		    <br>
		    <legend>Recentes / Destaque</legend>
		</div>
	</div>
</div>

<app-rodape></app-rodape>