
<footer id="footer">
  <section class="copyright-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <h3 class="demo-logo"><strong>Tunts</strong></h3>
          </div>
          <div class="social-media">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>Desenvolvido por Rafael e Felipe @ 2017</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
