<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Enviar Mensagem</h4>
    </modal-header>
    <modal-body>
      <form role="form">
      <flash-messages></flash-messages>
        <div class="form-group">
          <label for="assunto">Destino</label>
            <input [(ngModel)]="origem"  type="hidden" 
            id="origem" name="origem"/>

            <input [(ngModel)]="destino"  ng-disabled="this.destino.length>2" type="text" class="form-control"
            id="destino" placeholder="Destino" name="destino"/>
        </div>
        <div class="form-group">
          <label for="assunto">Assunto</label>
            <input [(ngModel)]="assunto" type="text" class="form-control"
            id="assunto" placeholder="Assunto da mensagem" name="assunto"/>
        </div>
        <div class="form-group">
          <label for="assunto">Mensagem</label>
            <textarea [(ngModel)]="mensagem" rows="10" class="form-control"
            id="mensagem" placeholder="Digite sua mensagem" name="mensagem"> </textarea>
        </div>
      </form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <button class="btn btn-primary" type="reset">Limpar campos</button>
      <button class="btn btn-success" (click)="enviarMensagem()">Enviar</button>
    </modal-footer>
</modal>
